#root:has(> .choose-teams-page) {
  display: flex;
  justify-content: center;
}

.choose-teams-page {
  padding: 1.16rem;
  width: clamp(320px, 100%, 440px);

  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.choose-teams-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.choose-teams-page-header > button {
  align-self: center;
}
