#root:has(> .assign-teams-page) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.assign-teams-page {
  width: clamp(320px, 100%, 480px);
  padding: 30px 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.assign-teams-page-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.assign-teams-page-header > button {
  align-self: center;
}

/* Adjust the width of the Create Pool button */
[class*='assign-teams-page'] > div:last-of-type {
  width: clamp(200px, 100%, 350px);
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(200px, 100%, 350px);
  height: 48px;  /* Match the height of the button */
}
