.welcome-container {
  height: 100vh;
  max-height: 900px;
  width: 100%;
  max-width: 1350px;
  gap: 45px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (min-width: 768px) {
  .welcome-container {
    padding: 60px 30px 0;
  }
}

.auth-container,
.features-container {
  display: flex;
  align-items: center;
}

.auth-container {
  justify-content: center;
}

.features-container {
  height: 100%;
  margin-top: 3rem;
  flex-direction: column;
  gap: 2.5rem;
}

.sign-in-btn {
  width: 100%;
  max-width: 300px;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  background: var(--secondary-btn-bg-color);
  color: var(--primary-text-color);
  font-size: inherit;
  border: none;
}

.sign-in-btn:hover {
  background: var(--third-btn-bg-color);
  color: var(--third-text-color);
}

.sign-in-btn:active {
  opacity: 0.7;
}

.welcome-header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
