.page-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pool-players {
  width: 100%;
  max-width: 400px;
  padding: 1.16rem 0.75rem 0;
  margin-bottom: 5rem;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.players-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.player-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.player {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.view-teams-btn {
  font-family: inherit;
  font-size: 0.9rem;
  min-width: max-content;
  padding: 0.2rem 0.75rem;
  border: none;
  border-radius: 15px;
  background-color: var(--primary-btn-bg-color);
}

.view-teams-btn:hover {
  background-color: var(--secondary-btn-bg-color);
  cursor: pointer;
}

.view-teams-btn:active {
  opacity: 0.7;
}
