.page-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pool-settings {
  width: clamp(320px, 100%, 440px);
  padding: 1.16rem 0.75rem 0;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.settings-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}

.pool-info-container,
.manage-players > a,
.reassign-teams > a,
.app-settings {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.pool-info {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.pool-info,
.modify-setting,
.switch-container > p {
  color: var(--secondary-text-color);
}

.manage-players > a,
.reassign-teams > a {
  text-decoration: none;
  cursor: pointer;
}

.manage-players h5,
.reassign-teams h5 {
  color: var(--primary-text-color);
}

.pool-name,
.pool-league,
.modify-setting,
.switch-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
