.player-teams-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.player-team {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.team-logo {
  width: 60px;
  background-color: var(--secondary-bg-color);
  border-radius: 10px;
  padding: 5px;
}

.team-info p,
.team-info span {
  font-size: 0.9rem;
  color: var(--secondary-text-color);
}
