.next-header-btn {
    background: transparent;
    border: none;
    font-size: 1rem;
    color: var(--secondary-text-color);
}

.next-header-btn:hover {
    cursor: pointer;
    color: white;
}

a:has(.next-header-btn) {
    align-self: flex-end;
}