.right-header-btn {
  background: transparent;
  border: none;
  font-size: 1rem;
  color: var(--secondary-text-color);
}

.right-header-btn:hover {
  cursor: pointer;
  color: white;
}

.right-header-btn {
  align-self: flex-end;
}

.right-header-btn.disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
