div:has(.page-header) {
  display: flex;
  justify-content: center;
}

.page-header {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
}

.menu-header {
  padding: 0 1rem;
  color: var(--secondary-text-color);
}

.left-header-btn,
.right-header-btn {
  background: transparent;
  border: none;
  font-size: 1rem;
  color: var(--secondary-text-color);
  display: flex;
}

.left-header-btn:hover,
.right-header-btn:hover {
  cursor: pointer;
  color: white;
}

.page-header > .icon-button {
  position: absolute;
  right: 0;
}
