.wins-tracker-container {
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-standing {
  color: var(--secondary-text-color);
}

.player-wins {
  font-size: 1.1rem;
}
