.player {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.team-icon {
  width: 60px;
  background-color: var(--secondary-bg-color);
  border-radius: 50%;
  padding: 6px;
}

.player-info {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.profile-container {
  max-width: 74%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.player-name {
  width: 100%;
}

.team-name {
  color: var(--secondary-text-color);
}

.truncated-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
