* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --main-bg-color: #1f201f;
  --secondary-bg-color: #fff;
  --primary-color: #6768a9;
  --secondary-color: #e79d30;
  --third-color: #c7c9e1;
  --fourth-color: #e9e9f3;
  --darkest-purple: #2c2266;
  --text-color: white;
  --primary-text-color: #fff;
  --secondary-text-color: #b3b7b6;
  --third-text-color: #6768a9;
  --alternate-text-color: #fff;
  --input-bg-color: #2e2e33;
  --input-text-color: #fff;
  --bottom-menu-bg-color: #181918;
  --primary-btn-bg-color: #2e2e33;
  --secondary-btn-bg-color: #6768a9;
  --third-btn-bg-color: #fff;
  --fourth-btn-bg-color: #6768a9;
  --primary-text-font: 'Poppins', sans-serif;
  --secondary-text-font: 'Roboto', sans-serif;
}

#root {
  display: flex;
  justify-content: center;
}

body.light {
  --main-bg-color: #fff;
  --primary-text-color: #000;
  --secondary-text-color: #656565;
  --third-text-color: #fff;
  --alternate-text-color: #fff;
  --primary-btn-bg-color: #6768a9;
  --secondary-btn-bg-color: #2e2e33;
  --third-btn-bg-color: #2e2e33;
  --fourth-btn-bg-color: #909090;
}

body.dark {
  --main-bg-color: #000;
}

h3 {
  font-size: 1.3rem;
  font-weight: 500;
}

h4 {
  font-size: 1.2rem;
  font-weight: 500;
}

h5 {
  font-size: 1.1rem;
  font-weight: 500;
}

h6 {
  font-size: 1rem;
  font-weight: 500;
}

body {
  background-color: var(--main-bg-color);
  color: var(--primary-text-color);
  font-family: var(--primary-text-font);
}

button {
  background-color: var(--primary-btn-bg-color);
  color: #fff;
}

input {
  font-family: inherit;
}

div:has(#choose-league-container),
div:has(#create-pool-container),
div:has(.pool-players) {
  display: flex;
  justify-content: center;
}

.header-logo {
  width: 300px;
}

/*** ERROR PAGE ***/

#error-page {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
