* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main-bg-color: #1F201F;
    --primary-color: #675b8d;
    --primary-text: 'Poppins', sans-serif;
    --secondary-text: 'Roboto', sans-serif;
}

body {
    background-color: black;
    color: white;
    font-family: var(--primary-text);
}

button {
    background-color: var(--primary-color);
    color: white;
}

.welcome-container {
    padding-top: 10px;
    text-align: center;
    gap: 45px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

div:has(.create-pool-container) {
    display: flex;
    justify-content: center;
}

.header-logo {
    width: 300px;
}

.primary-button {
    font-size: 1.2rem;
    padding: 10px 101px;
    font-family: inherit;
    border: none;
    border-radius: 25px;
}